@use "./variables";

// Animation LOADER

.loader-container {
  z-index: 99;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 1000px;
  width: 100%;
  background-color: variables.$backgroud-dark;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}
.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: variables.$secondary-color;

  border-radius: 50%;
  animation: dot-spin 1.5s ease-in infinite;
}

.dot:nth-child(1) {
  top: 0;
  left: 50%;
  animation-delay: 0s;
}
.dot:nth-child(2) {
  top: 14.64%;
  left: 85.36%;
  animation-delay: 0.15s;
}
.dot:nth-child(3) {
  top: 50%;
  left: 100%;
  animation-delay: 0.3s;
}
.dot:nth-child(4) {
  top: 85.36%;
  left: 85.36%;
  animation-delay: 0.45s;
}
.dot:nth-child(5) {
  top: 100%;
  left: 50%;
  animation-delay: 0.6s;
}
.dot:nth-child(6) {
  top: 85.36%;
  left: 14.64%;
  animation-delay: 0.75s;
}
.dot:nth-child(7) {
  top: 50%;
  left: 0;
  animation-delay: 0.9s;
}
.dot:nth-child(8) {
  top: 14.64%;
  left: 14.64%;
  animation-delay: 1.05s;
}

@keyframes dot-spin {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.content {
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// animation heart

input {
  display: none;
}

label {
  .heart-activated {
    cursor: pointer;
    opacity: 0;
    transition: all 800ms ease-out;
  }
}

input:checked ~ label {
  .heart {
    cursor: pointer;
    opacity: 0;
  }
  .heart-activated {
    cursor: pointer;
    opacity: 1;
  }
}

// Animation sections menu delay

.menu-1 {
  animation: slideIn 1s forwards;
}

.menu-2 {
  animation: slideIn 1s forwards 150ms;
}

.menu-3 {
  animation: slideIn 1s forwards 300ms;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// Animation menu-card checkbox

.menu-card {
  .anim-check {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -15px;
    right: -15px;
    transform-origin: right;
    width: 0;
    height: 69px;
    border-radius: 0 15px 15px 0;
    color: variables.$tertiary-color;
    background-color: variables.$tertiary-color;
    transition: all 150ms ease-in-out;
    img {
      width: 0;
      transition: all 200ms 100ms ease-out;
    }
  }
}

.menu-card:hover {
  .anim-check {
    width: 20px;
    transition: all 200ms ease-in;
    img {
      width: 0;
      transition: all 200ms ease-in;
    }
  }
}

input:checked + label .menu-card .anim-check {
  width: 59px;
  transition: width 300ms ease-in;
  img {
    width: auto;
    transition: width 200ms 100ms ease-out;
  }
}

input:checked + label:hover .menu-card .anim-check {
  width: 59px;
  transition: all 400mx ease-in;
  img {
    width: auto;
  }
}
