@use "./variables";
@use "./mixins";

// Animation LOADER

@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes dotSpin {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.loader {
  @include mixins.flexbox(column, center, center);
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: variables.$backgroud-dark;
  animation: fadeOut 3s forwards;
  &__container {
    position: absolute;
    width: 100px;
    height: 100px;
    &-dot {
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: variables.$secondary-color;
      border-radius: 50%;
      animation: dotSpin 1.5s ease-in infinite;
      &:nth-child(1) {
        top: 0;
        left: 50%;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        top: 14.64%;
        left: 85.36%;
        animation-delay: 0.15s;
      }
      &:nth-child(3) {
        top: 50%;
        left: 100%;
        animation-delay: 0.3s;
      }
      &:nth-child(4) {
        top: 85.36%;
        left: 85.36%;
        animation-delay: 0.45s;
      }
      &:nth-child(5) {
        top: 100%;
        left: 50%;
        animation-delay: 0.6s;
      }
      &:nth-child(6) {
        top: 85.36%;
        left: 14.64%;
        animation-delay: 0.75s;
      }
      &:nth-child(7) {
        top: 50%;
        left: 0;
        animation-delay: 0.9s;
      }
      &:nth-child(8) {
        top: 14.64%;
        left: 14.64%;
        animation-delay: 1.05s;
      }
    }
  }
}

// A ajouter dans le code de l'animation des cartes menu !!!!
input {
  display: none;
}

// Animation sections menu delay

.menu-1 {
  animation: slideIn 1s forwards;
}

.menu-2 {
  animation: slideIn 1s forwards 150ms;
}

.menu-3 {
  animation: slideIn 1s forwards 300ms;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// Animation menu__card checkbox

.menu__card-right-side--anim-check {
  transform-origin: right;
  transition: all 300ms ease-in-out;
  img {
    width: 0;
    transition: all 200ms 100ms ease-out;
  }
}

.menu {
  @include mixins.medium-screen {
    &__card:hover {
      .menu__card-right-side--anim-check {
        width: 20px;
        transition: all 150ms ease-in;
        img {
          width: 0;
          transition: all 300ms ease-in;
        }
      }
    }
  }
}

input:checked + label .menu__card-right-side--anim-check {
  width: 59px;
  transition: width 300ms ease-in;
  img {
    width: auto;
    transition: width 200ms 100ms ease-out;
  }
}

input:checked + label:hover .menu__card-right-side--anim-check {
  width: 59px;
  transition: all 400ms ease-in;
  img {
    width: auto;
  }
}
