@use "./variables";

input {
  display: none;
}

label {
  .heart-activated {
    opacity: 0;
    transition: all 800ms ease-out;
  }
}

input:checked ~ label {
  .heart {
    opacity: 0;
  }
  .heart-activated {
    opacity: 1;
  }
}

// Animation menu-card

.menu-card {
  .menu-price {
    transform: translateX(59px);
    transition: all 400ms ease-out;
  }
  & :hover {
    transform: translateX(10);
  }
  .anim-check {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -15px;
    right: -15px;
    transform: translateX(59px);
    transform-origin: right;
    opacity: 0;
    width: 59px;
    height: 69px;
    border-radius: 0 15px 15px 0;
    color: variables.$tertiary-color;
    background-color: variables.$tertiary-color;
    transition: transform 400ms ease-in, opacity 200ms ease-out;
    & :hover {
      transform: translateX(40);
      opacity: 0.5;
    }
  }
}

input:checked ~ label {
  .menu-price {
    transform: translateX(0);
    transition: all 200ms ease-out;
  }
  .anim-check {
    transform: translateX(0);
    opacity: 1;
    transition: transform 200ms ease-in, opacity 0s 190ms ease-out;
  }
}
