// Imports de fichiers partials, utiliser en écrivant /ex color: variables.$primary-color !! Sinon ça ne fonctionnera pas ou mal

@use "./abstracts/variables";
@use "./base/general";
@use "./layout/header";
@use "./layout/footer";
@use "./components/buttons-cards";
@use "./layout/restaurants";

// Introduction

.introduction {
  text-align: center;
  padding: variables.$spacing-l variables.$spacing-l variables.$spacing-section;
  background-color: variables.$background-main;
  h2 {
    padding: 0 variables.$spacing-l;
    margin-bottom: variables.$spacing-m;
  }
  p {
    color: variables.$secondary-text-color;
    margin-bottom: variables.$spacing-xxl;
  }
  .button-primary {
    @extend %button-primary;
  }
}

// Tutorial

.tutorial {
  display: flex;
  flex-direction: column;
  padding: variables.$spacing-section variables.$spacing-l;
  gap: variables.$spacing-xl;
  &-steps {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-m;
  }
  &-step {
    display: flex;
    align-items: center;
  }
  &-content {
    display: flex;
    align-items: center;
  }
}

.tutorial-number {
  @extend %tutorial-number;
}

.tutorial-content {
  @extend %btn-tuto;
  .tutorial-icon {
    margin-left: variables.$spacing-m;
    color: variables.$icon-color;
    &-purple {
      margin-left: variables.$spacing-m;
      color: variables.$primary-color;
    }
  }
}

// Pages menus

.menu-container {
  position: relative;
  margin: 175px auto variables.$spacing-section;
  padding: variables.$spacing-m;
  background: white;
  border-radius: 40px;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variables.$spacing-l variables.$spacing-m;
  h2 {
    font-family: variables.$logo-font-family;
    font-size: 28px;
    font-weight: variables.$font-weight-logo;
    color: #101010;
  }
  i {
    font-size: 20px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-m;
  h2 {
    font-size: variables.$font-size-m;
    font-weight: variables.$font-weight-s;
  }
}

.menu-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: variables.$spacing-m variables.$spacing-m;
  border-radius: variables.$border-radius-small;
  box-shadow: variables.$box-shadow-5;
  .menu-name {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-s;
  }
  h3 {
    font-weight: variables.$font-weight-m;
  }
  p {
    font-size: variables.$font-size-xs;
  }
  .menu-price {
    font-size: variables.$font-size-s;
    font-weight: variables.$font-weight-m;
    color: variables.$secondary-text-color;
  }
}
