// Imports de fichiers partials, utiliser en écrivant /ex color: variables.$primary-color !! Sinon ça ne fonctionnera pas ou mal

@use "./abstracts/variables";
@use "./abstracts/mixins";
@use "./abstracts/animations";
@use "./base/general";
@use "./layout/header";
@use "./layout/footer";
@use "./components/buttons-cards";
@use "./layout/restaurants";

// Introduction

.introduction {
  text-align: center;
  padding: 40px variables.$spacing-l 70px;
  background-color: variables.$background-main;
  h2 {
    padding: 0 variables.$spacing-l;
    margin-bottom: variables.$spacing-l;
    @include mixins.medium-screen {
      font-size: 40px;
    }
  }
  p {
    color: variables.$secondary-text-color;
    margin-bottom: 40px;
  }
  .button-primary {
    @extend %button-primary;
  }
  a {
    margin-top: variables.$spacing-l;
    margin-bottom: 55px;
  }
}

// Tutorial

.tutorial {
  @include mixins.flexbox(column);
  padding: variables.$spacing-section variables.$spacing-l 65px;
  gap: variables.$spacing-xxl;
  &__steps {
    @include mixins.flexbox(column, center);
    max-width: 1080px;
    width: 100%;
    gap: variables.$spacing-l;
    @include mixins.medium-screen {
      flex-flow: row nowrap;
      width: 100%;
    }
    @include mixins.large-screen {
      margin: auto;
    }
  }
  &__step {
    @include mixins.flexbox(row, flex-start, center);
    position: relative;
    min-width: 335px;
    @include mixins.medium-screen {
      width: 30%;
      min-width: 235px;
      max-width: 335px;
    }
    @include mixins.large-screen {
      width: 335px;
    }
    &-number {
      @extend %tutorial-number;
    }
    &-content {
      @extend %btn-tuto;
      @include mixins.flexbox(row, flex-start, center);
    }
    &-icon {
      margin-left: variables.$spacing-m;
      color: variables.$icon-color;
      &--purple {
        color: variables.$primary-color;
      }
    }
  }
}

// Pages menus

.menu-container {
  position: relative;
  top: -5px;
  padding: variables.$spacing-m;
  background: variables.$background-main;
  border-radius: 40px 40px 0 0;
  @include mixins.medium-screen {
    max-width: 1055px;
    margin: 0 auto;
  }
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variables.$spacing-m variables.$spacing-l variables.$spacing-xl;
  padding-left: 0%;
  @include mixins.medium-screen {
    justify-content: center;
    gap: variables.$spacing-xl;
  }
  h2 {
    font-family: variables.$logo-font-family;
    font-size: 28px;
    font-weight: variables.$font-weight-logo;
    color: #101010;
  }
  .card-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-s;
  margin-bottom: 40px;
  @include mixins.medium-screen {
    max-width: 634px;
    margin: auto;
    margin-bottom: 40px;
  }
  h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-size: variables.$font-size-m;
    font-weight: variables.$font-weight-s;
  }
  h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 3px;
    background-color: variables.$tertiary-color;
  }
}

.menu-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 69px;
  padding: variables.$spacing-m variables.$spacing-m;
  border-radius: variables.$border-radius-small;
  box-shadow: variables.$box-shadow-5;
  cursor: pointer;
  .menu-name {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-xs;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: variables.$spacing-xs;
  }
  h3,
  .menu-title {
    font-weight: variables.$font-weight-m;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: variables.$font-size-xl;
  }
  p,
  .menu-subtitle {
    font-size: variables.$font-size-s;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .right-side {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }
  .menu-price {
    display: flex;
    justify-content: flex-end;
    font-size: variables.$font-size-s;
    font-weight: variables.$font-weight-m;
    color: variables.$secondary-text-color;
  }
}

section:nth-of-type(3) {
  margin-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: variables.$spacing-xxl;
  margin-bottom: variables.$spacing-m;
  a {
    display: inline-block;
    @extend %button-primary;
    padding: variables.$spacing-m variables.$spacing-xl;
  }
}
