@use "../abstracts/variables";
@use "../abstracts/mixins";

.footer {
  display: flex;
  flex-direction: column;
  padding-left: variables.$spacing-l;
  padding-top: variables.$spacing-m;
  padding-bottom: variables.$spacing-l;
  gap: variables.$spacing-m;
  background-color: variables.$backgroud-dark;
  color: variables.$light-text-color;
  @include mixins.medium-screen {
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    height: 114px;
    padding-top: variables.$spacing-xxl;
    padding-right: variables.$spacing-section;
  }
  @include mixins.large-screen {
    gap: variables.$spacing-section;
  }
  &-links {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-s;
    @include mixins.medium-screen {
      flex-direction: row;
      gap: variables.$spacing-m;
    }
    a {
      color: variables.$light-text-color;
      i {
        margin-right: variables.$spacing-s;
      }
    }
  }
}
