@use "../abstracts/variables";
@use "../abstracts/mixins";

.footer {
  @include mixins.flexbox(column);
  padding: variables.$spacing-xl;
  gap: variables.$spacing-m;
  background-color: variables.$backgroud-dark;
  color: variables.$light-text-color;
  @include mixins.medium-screen {
    @include mixins.flexbox(row-reverse, $justify, center);
    box-sizing: border-box;
    height: 114px;
    padding-top: variables.$spacing-xxl;
    padding-right: variables.$spacing-section;
  }
  @include mixins.large-screen {
    gap: variables.$spacing-section;
  }
  &__links {
    @include mixins.flexbox(column);
    gap: variables.$spacing-s;
    @include mixins.medium-screen {
      @include mixins.flexbox(row);
      gap: variables.$spacing-m;
    }
    a {
      @include mixins.flexbox($diretion, $justify, center);
      color: variables.$light-text-color;
      gap: variables.$spacing-s;
      i {
        font-size: 12px;
        height: 13px;
        width: 11px;
      }
    }
  }
}
