@use "../abstracts/variables";
@use "../abstracts/mixins";

.header {
  &__logo {
    @include mixins.flexbox(row, center, center);
    width: 100%;
    height: 63px;
    box-shadow: variables.$box-shadow-1;
    z-index: 2;
    position: relative;
    @include mixins.medium-screen {
      box-shadow: none;
    }
  }
  &__location {
    @include mixins.flexbox(row, center, center);
    position: relative;
    z-index: 1;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: variables.$background-medium;
    box-shadow: variables.$box-shadow-3;
    color: variables.$secondary-text-color;
    i {
      margin-right: variables.$spacing-m;
    }
    p {
      font-size: variables.$font-size-s;
      font-weight: variables.$font-weight-m;
    }
    @include mixins.medium-screen {
      box-shadow: none;
    }
  }
}

.menu-header {
  @include mixins.flexbox(row, center, center);
  height: 63px;
  position: absolute;
  width: 100%;
  margin: auto;
  a {
    font-size: variables.$font-size-xxl;
    position: absolute;
    left: 20px;
    color: variables.$secondary-text-color;
    z-index: 10;
  }
  &__logo {
    @extend .header__logo;
    box-shadow: none;
  }
  &__picture {
    position: relative;
    top: 63px;
    img {
      width: 100%;
      height: 275px;
      object-fit: cover;
      object-position: 50% 65%;
      @include mixins.medium-screen {
        height: 383px;
      }
    }
  }
}
