@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../components/buttons-cards";

.restaurants {
  @include mixins.flexbox(column);
  padding: 60px variables.$spacing-l;
  gap: variables.$spacing-xl;
  background-color: variables.$background-main;
  width: 100%;
  &__title {
    max-width: 1080px;
  }
  &__cards {
    @include mixins.flexbox(column, flex-start, center);
    gap: variables.$spacing-m;
    max-width: 1080px;
    @include mixins.medium-screen {
      flex-flow: row wrap;
      justify-content: space-between;
      gap: variables.$spacing-l;
    }
    @include mixins.large-screen {
      gap: variables.$spacing-section;
      margin: auto;
    }
  }
}

.card {
  position: relative;
  max-width: 490px;
  width: 100%;
  @include mixins.medium-screen {
    width: 47%;
  }
  &__article {
    @include mixins.flexbox(column);
    overflow: hidden;
    height: 251px;
    border-radius: variables.$border-radius-small;
    box-shadow: variables.$box-shadow-5;
    background-color: variables.$background-light;
    &-header {
      position: relative;
      overflow: hidden;
      height: 70%;
      img {
        height: 175px;
        width: 100%;
        object-fit: cover;
      }
      &--status {
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 15px;
        padding: 7px 12px;
        color: variables.$green-text-color;
        background-color: variables.$tertiary-color;
        border: none;
        border-radius: 2px;
        box-shadow: variables.$box-shadow-1;
        font-size: variables.$font-size-xs;
        font-weight: variables.$font-weight-m;
      }
    }
    &-content {
      @include mixins.flexbox(row, space-between, center);
      padding: 0 variables.$spacing-l 0 variables.$spacing-m;
      height: 30%;
      &-text {
        @include mixins.flexbox(column);
        gap: variables.$spacing-xs;
        p {
          font-size: variables.$font-size-l;
        }
      }
    }
  }

  &-favorite {
    @extend %favorite;
    position: relative;
    .heart,
    .heart-activated {
      position: absolute;
      bottom: 30px;
      right: 25px;
    }
  }
}
