@use "../abstracts/variables";

%button-primary {
  color: variables.$light-text-color;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  border-radius: variables.$border-radius-large;
  box-shadow: variables.$box-shadow-3;
  padding: variables.$spacing-m variables.$spacing-l;
  font-weight: variables.$font-weight-m;
}
