.loader-container {
  z-index: 99;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 1000px;
  width: 100%;
  background-color: #353535;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ff79da;
  border-radius: 50%;
  animation: dot-spin 1.5s ease-in infinite;
}

.dot:nth-child(1) {
  top: 0;
  left: 50%;
  animation-delay: 0s;
}

.dot:nth-child(2) {
  top: 14.64%;
  left: 85.36%;
  animation-delay: 0.15s;
}

.dot:nth-child(3) {
  top: 50%;
  left: 100%;
  animation-delay: 0.3s;
}

.dot:nth-child(4) {
  top: 85.36%;
  left: 85.36%;
  animation-delay: 0.45s;
}

.dot:nth-child(5) {
  top: 100%;
  left: 50%;
  animation-delay: 0.6s;
}

.dot:nth-child(6) {
  top: 85.36%;
  left: 14.64%;
  animation-delay: 0.75s;
}

.dot:nth-child(7) {
  top: 50%;
  left: 0;
  animation-delay: 0.9s;
}

.dot:nth-child(8) {
  top: 14.64%;
  left: 14.64%;
  animation-delay: 1.05s;
}

@keyframes dot-spin {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.content {
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
input {
  display: none;
}

label .heart-activated {
  cursor: pointer;
  opacity: 0;
  transition: all 800ms ease-out;
}

input:checked ~ label .heart {
  cursor: pointer;
  opacity: 0;
}
input:checked ~ label .heart-activated {
  cursor: pointer;
  opacity: 1;
}

.menu-1 {
  animation: slideIn 1s forwards;
}

.menu-2 {
  animation: slideIn 1s forwards 150ms;
}

.menu-3 {
  animation: slideIn 1s forwards 300ms;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu-card .anim-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -15px;
  right: -15px;
  transform-origin: right;
  width: 0;
  height: 69px;
  border-radius: 0 15px 15px 0;
  color: #99e2d0;
  background-color: #99e2d0;
  transition: all 150ms ease-in-out;
}
.menu-card .anim-check img {
  width: 0;
  transition: all 200ms 100ms ease-out;
}

.menu-card:hover .anim-check {
  width: 20px;
  transition: all 200ms ease-in;
}
.menu-card:hover .anim-check img {
  width: 0;
  transition: all 200ms ease-in;
}

input:checked + label .menu-card .anim-check {
  width: 59px;
  transition: width 300ms ease-in;
}
input:checked + label .menu-card .anim-check img {
  width: auto;
  transition: width 200ms 100ms ease-out;
}

input:checked + label:hover .menu-card .anim-check {
  width: 59px;
  transition: all 400mx ease-in;
}
input:checked + label:hover .menu-card .anim-check img {
  width: auto;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.875rem;
  color: #101010;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

h4 {
  font-family: "Shrikhand";
  font-size: 1.125rem;
  font-weight: 400;
}

.section-title {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.section-title h2 {
  text-align: left;
}

.header-logo {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
  position: relative;
}
@media (min-width: 768px) {
  .header-logo {
    box-shadow: none;
  }
}

.header-location {
  position: relative;
  z-index: 1;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  color: #353535;
}
.header-location i {
  margin-right: 15px;
}
.header-location p {
  font-size: 0.938rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .header-location {
    box-shadow: none;
  }
}

.menu-header {
  height: 63px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.menu-header .header-logo {
  box-shadow: none;
}

.menu-header a {
  font-size: 1.5rem;
  position: absolute;
  left: 20px;
  color: #353535;
  z-index: 10;
}

.header-picture {
  position: relative;
  top: 63px;
}

.header-picture img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: 50% 65%;
}
@media (min-width: 768px) {
  .header-picture img {
    height: 383px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
  background-color: #353535;
  color: white;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    height: 114px;
    padding-top: 30px;
    padding-right: 50px;
  }
}
@media (min-width: 1024px) {
  .footer {
    gap: 50px;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    gap: 15px;
  }
}
.footer-links a {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
.footer-links a i {
  font-size: 12px;
  height: 13px;
  width: 11px;
}

.introduction .button-primary, .button-container a {
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px 20px;
  font-weight: 500;
  transition: all 300ms ease-out;
}
.introduction .button-primary:hover, .button-container a:hover {
  background: linear-gradient(193.33deg, rgba(147, 86, 220, 0.8) -11.44%, rgba(255, 121, 218, 0.8) 123.93%);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5019607843);
}

.tutorial-content {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-left: 15px;
  padding: 20px 20px;
  background-color: #f6f6f6;
  border: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  gap: 15px;
  font-weight: 500;
}

.tutorial-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  color: #f6f6f6;
  border-radius: 100%;
  font-size: 0.875rem;
  font-weight: 500;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 25px;
  background-color: #f6f6f6;
  width: 100%;
}
.restaurants .restaurant-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 1080px;
}
@media (min-width: 768px) {
  .restaurants .restaurant-cards {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .restaurants .restaurant-cards {
    gap: 25px;
    margin: auto;
  }
}
.restaurants .restaurant-cards a {
  max-width: 490px;
  width: 100%;
}
@media (min-width: 768px) {
  .restaurants .restaurant-cards a {
    width: 47%;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #ffffff;
}

.card-header {
  position: relative;
  overflow: hidden;
  height: 70%;
}
.card-header img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}
.card-header .card-status {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  padding: 7px 12px;
  color: #008766;
  background-color: #99e2d0;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  font-size: 0.875rem;
  font-weight: 500;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 15px;
  height: 30%;
}
.card-content .card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-content .card-info p {
  font-size: 1.063rem;
}
.card-content .card-favorite img {
  width: 22px;
  height: 21px;
}
.card-content .heart {
  position: absolute;
}

.introduction {
  text-align: center;
  padding: 40px 20px 70px;
  background-color: #f6f6f6;
}
.introduction h2 {
  padding: 0 20px;
  margin-bottom: 20px;
}
.introduction p {
  color: #353535;
  margin-bottom: 40px;
}
.introduction a {
  margin-top: 20px;
  margin-bottom: 55px;
}

.tutorial {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 65px;
  gap: 30px;
}
.tutorial-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
  width: 100%;
  gap: 20px;
}
@media (min-width: 768px) {
  .tutorial-steps {
    flex-flow: row nowrap;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .tutorial-steps {
    margin: auto;
  }
}
.tutorial-step {
  display: flex;
  position: relative;
  align-items: center;
  min-width: 335px;
}
@media (min-width: 768px) {
  .tutorial-step {
    width: 30%;
    min-width: 235px;
    max-width: 335px;
  }
}
@media (min-width: 1024px) {
  .tutorial-step {
    width: 335px;
  }
}
.tutorial-content {
  display: flex;
  align-items: center;
}

.tutorial-content .tutorial-icon {
  margin-left: 15px;
  color: #7e7e7e;
}
.tutorial-content .tutorial-icon-purple {
  margin-left: 15px;
  color: #9356dc;
}

.menu-container {
  position: relative;
  top: -5px;
  padding: 15px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
@media (min-width: 768px) {
  .menu-container {
    max-width: 1055px;
    margin: 0 auto;
  }
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 25px;
  padding-left: 0%;
}
@media (min-width: 768px) {
  .main-title {
    justify-content: center;
    gap: 20px;
  }
}
.main-title h2 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  color: #101010;
}
.main-title img {
  font-size: 20px;
}
.main-title .heart {
  cursor: pointer;
  position: absolute;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .menu {
    max-width: 634px;
    margin: auto;
    margin-bottom: 40px;
  }
}
.menu h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 300;
}
.menu h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}

.menu-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 69px;
  padding: 15px 15px;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.menu-card .menu-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px;
}
.menu-card h3 {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card p {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card .right-side {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.menu-card .menu-price {
  display: flex;
  justify-content: flex-end;
  font-size: 0.938rem;
  font-weight: 500;
  color: #353535;
}

section:nth-of-type(3) {
  margin-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.button-container a {
  display: inline-block;
  padding: 15px 25px;
}/*# sourceMappingURL=styles.css.map */