@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes dotSpin {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: #353535;
  animation: fadeOut 3s forwards;
}
.loader__container {
  position: absolute;
  width: 100px;
  height: 100px;
}
.loader__container-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ff79da;
  border-radius: 50%;
  animation: dotSpin 1.5s ease-in infinite;
}
.loader__container-dot:nth-child(1) {
  top: 0;
  left: 50%;
  animation-delay: 0s;
}
.loader__container-dot:nth-child(2) {
  top: 14.64%;
  left: 85.36%;
  animation-delay: 0.15s;
}
.loader__container-dot:nth-child(3) {
  top: 50%;
  left: 100%;
  animation-delay: 0.3s;
}
.loader__container-dot:nth-child(4) {
  top: 85.36%;
  left: 85.36%;
  animation-delay: 0.45s;
}
.loader__container-dot:nth-child(5) {
  top: 100%;
  left: 50%;
  animation-delay: 0.6s;
}
.loader__container-dot:nth-child(6) {
  top: 85.36%;
  left: 14.64%;
  animation-delay: 0.75s;
}
.loader__container-dot:nth-child(7) {
  top: 50%;
  left: 0;
  animation-delay: 0.9s;
}
.loader__container-dot:nth-child(8) {
  top: 14.64%;
  left: 14.64%;
  animation-delay: 1.05s;
}

input {
  display: none;
}

.menu-1 {
  animation: slideIn 1s forwards;
}

.menu-2 {
  animation: slideIn 1s forwards 150ms;
}

.menu-3 {
  animation: slideIn 1s forwards 300ms;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu__card-right-side--anim-check {
  transform-origin: right;
  transition: all 300ms ease-in-out;
}
.menu__card-right-side--anim-check img {
  width: 0;
  transition: all 200ms 100ms ease-out;
}

@media (min-width: 768px) {
  .menu__card:hover .menu__card-right-side--anim-check {
    width: 20px;
    transition: all 150ms ease-in;
  }
  .menu__card:hover .menu__card-right-side--anim-check img {
    width: 0;
    transition: all 300ms ease-in;
  }
}

input:checked + label .menu__card-right-side--anim-check {
  width: 59px;
  transition: width 300ms ease-in;
}
input:checked + label .menu__card-right-side--anim-check img {
  width: auto;
  transition: width 200ms 100ms ease-out;
}

input:checked + label:hover .menu__card-right-side--anim-check {
  width: 59px;
  transition: all 400ms ease-in;
}
input:checked + label:hover .menu__card-right-side--anim-check img {
  width: auto;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.875rem;
  color: #101010;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

h4 {
  font-family: "Shrikhand";
  font-size: 1.125rem;
  font-weight: 400;
}

.section-title {
  width: 100%;
  margin: 0 auto;
}
.section-title h2 {
  text-align: left;
}

.header__logo, .menu-header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
  position: relative;
}
@media (min-width: 768px) {
  .header__logo, .menu-header__logo {
    height: 93px;
    box-shadow: none;
  }
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: #eaeaea;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  color: #353535;
}
.header__location i {
  margin-right: 15px;
}
.header__location p {
  font-size: 0.938rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .header__location {
    box-shadow: none;
  }
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 63px;
  position: absolute;
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  .menu-header {
    height: 96px;
  }
}
.menu-header a {
  font-size: 1.5rem;
  position: absolute;
  left: 20px;
  color: #353535;
  z-index: 10;
}
.menu-header__logo {
  box-shadow: none;
}
.menu-header__picture {
  position: relative;
  top: 63px;
}
@media (min-width: 768px) {
  .menu-header__picture {
    top: 96px;
  }
}
.menu-header__picture img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: 50% 65%;
}
@media (min-width: 768px) {
  .menu-header__picture img {
    height: 383px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 25px;
  gap: 15px;
  background-color: #353535;
  color: white;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 114px;
    padding-top: 30px;
    padding-right: 50px;
  }
}
@media (min-width: 1024px) {
  .footer {
    gap: 50px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 10px;
}
@media (min-width: 768px) {
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 15px;
  }
}
.footer__links a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  gap: 10px;
}
.footer__links a i {
  font-size: 12px;
  height: 13px;
  width: 11px;
}

@media (min-width: 768px) {
  .menu-footer {
    position: relative;
    top: 40px;
  }
}

.button-container a, .introduction .button-primary {
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px 20px;
  font-weight: 500;
  transition: all 300ms ease-out;
}
.button-container a:hover, .introduction .button-primary:hover {
  background: linear-gradient(193.33deg, rgba(147, 86, 220, 0.8) -11.44%, rgba(255, 121, 218, 0.8) 123.93%);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5019607843);
}

.tutorial__step-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  margin-left: 15px;
  padding: 25px 15px;
  background-color: #f6f6f6;
  border: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  gap: 15px;
  font-weight: 500;
}

.tutorial__step-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  color: #f6f6f6;
  border-radius: 100%;
  font-size: 0.875rem;
  font-weight: 500;
}

.main-title .menu-favorite, .card-favorite {
  position: relative;
}
.main-title .menu-favorite input, .card-favorite input {
  display: none;
}
.main-title .menu-favorite label, .card-favorite label {
  cursor: pointer;
}
.main-title .menu-favorite label .heart, .card-favorite label .heart,
.main-title .menu-favorite label .heart-activated,
.card-favorite label .heart-activated {
  width: 22px;
  height: 21px;
  transition: opacity 300ms;
}
.main-title .menu-favorite label .heart-activated, .card-favorite label .heart-activated {
  opacity: 0;
}
.main-title .menu-favorite input:checked + label .heart, .card-favorite input:checked + label .heart {
  opacity: 0;
  transition: opacity 300ms;
}
.main-title .menu-favorite input:checked + label .heart-activated, .card-favorite input:checked + label .heart-activated {
  opacity: 1;
  transition: opacity 300ms;
}

.introduction {
  text-align: center;
  padding: 40px 20px 70px;
  background-color: #f6f6f6;
}
.introduction h2 {
  padding: 0 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .introduction h2 {
    font-size: 40px;
  }
}
.introduction p {
  color: #353535;
  margin-bottom: 40px;
}
.introduction a {
  margin-top: 20px;
  margin-bottom: 55px;
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 50px 20px 65px;
  gap: 30px;
}
.tutorial__title {
  max-width: 1080px;
  justify-content: flex-start;
}
.tutorial__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  max-width: 1080px;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}
@media (min-width: 768px) {
  .tutorial__steps {
    flex-flow: row nowrap;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .tutorial__steps {
    margin: auto;
    justify-content: flex-start;
    box-sizing: border-box;
  }
}
.tutorial__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  min-width: 335px;
}
@media (min-width: 768px) {
  .tutorial__step {
    width: 30%;
    min-width: 235px;
    max-width: 335px;
  }
}
@media (min-width: 1024px) {
  .tutorial__step {
    width: 335px;
  }
}
.tutorial__step-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.tutorial__step-icon {
  margin-left: 15px;
  color: #7e7e7e;
}
.tutorial__step-icon--purple {
  color: #9356dc;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 60px 20px;
  gap: 25px;
  background-color: #f6f6f6;
  width: 100%;
}
.restaurants__title {
  max-width: 1080px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  max-width: 1080px;
}
@media (min-width: 768px) {
  .restaurants__cards {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .restaurants__cards {
    gap: 50px;
    margin: auto;
  }
}

.card {
  position: relative;
  max-width: 490px;
  width: 100%;
}
@media (min-width: 768px) {
  .card {
    width: 47%;
  }
}
.card__article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #ffffff;
}
.card__article-header {
  position: relative;
  overflow: hidden;
  height: 70%;
}
.card__article-header img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}
.card__article-header--status {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  padding: 7px 12px;
  color: #008766;
  background-color: #99e2d0;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  font-size: 0.875rem;
  font-weight: 500;
}
.card__article-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 20px 0 15px;
  height: 30%;
}
.card__article-content-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 5px;
}
.card__article-content-text p {
  font-size: 1.063rem;
}
.card-favorite {
  position: relative;
}
.card-favorite .heart,
.card-favorite .heart-activated {
  position: absolute;
  bottom: 30px;
  right: 25px;
}

.menu-container {
  position: relative;
  padding: 15px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
@media (min-width: 768px) {
  .menu-container {
    max-width: 1055px;
    margin: 0 auto;
    top: 40px;
  }
}

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px 20px 40px;
  padding-left: 0%;
}
@media (min-width: 768px) {
  .main-title {
    justify-content: center;
    gap: 25px;
  }
}
.main-title h2 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  color: #101010;
}
.main-title .menu-favorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main-title .menu-favorite label .heart,
.main-title .menu-favorite label .heart-activated {
  position: absolute;
  right: 10px;
  top: -12px;
}
@media (min-width: 768px) {
  .main-title .menu-favorite label .heart,
  .main-title .menu-favorite label .heart-activated {
    right: auto;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 12px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .menu {
    max-width: 634px;
    margin: auto;
    margin-bottom: 40px;
  }
}
.menu h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 300;
}
.menu h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}

.menu__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  max-height: 69px;
  padding: 15px 15px;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.menu__card-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px;
}
.menu__card-name--title {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.125rem;
}
.menu__card-name--subtitle {
  font-size: 0.938rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card-right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.menu__card-right-side--price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  font-size: 0.938rem;
  font-weight: 500;
  color: #353535;
}
.menu__card-right-side--anim-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  bottom: -15px;
  right: -15px;
  width: 0;
  height: 69px;
  border-radius: 0 15px 15px 0;
  color: #99e2d0;
  background-color: #99e2d0;
}

section:nth-of-type(3) {
  margin-bottom: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .button-container {
    margin: 40px auto;
  }
}
.button-container a {
  display: inline-block;
  padding: 15px 50px;
}